@import "../fonts/abel/stylesheet.css";
/*TYPOGRAPHY*/
/* importing mixing and variables */
/* rules for body contents */
body {
  font-family: 'PT Serif', serif;
  font-size: 16px;
  line-height: 24px;
}
body .btn,
body .btn-full {
  margin: 0;
  border-radius: 0.5rem;
  transition: 0.3s;
  text-transform: none;
}
body .form-control {
  box-shadow: none;
  border: 0;
}
/*home Page*/
header {
  font-family: 'abelregular', sans-serif;
}
header .navbar {
  border-bottom: 0;
  transition: 0.3s ease-in-out;
  background-color: #00899D;
  margin-bottom: 0;
}
header .navbar ul li a {
  color: #CCBA6D;
  text-transform: uppercase;
  text-shadow: none;
  border-bottom: 2px solid transparent;
  padding: 2rem 0.5rem;
  margin: 1rem;
  font-size: 2rem;
}
header .navbar ul li a:hover,
header .navbar ul li a:focus {
  background: transparent;
}
header .navbar ul li.logo a img {
  vertical-align: middle;
  max-width: 14rem;
  transition: 0.3s ease-in-out;
  margin-top: -1.5rem;
}
header .navbar ul li.logo a:hover {
  border-bottom: 2px solid transparent;
}
header .navbar .secondary-header {
  background-color: #CCBA6D;
  color: #fff;
  padding: 0.5rem;
  line-height: 3.2rem;
  text-transform: uppercase;
}
header .navbar .secondary-header ul {
  margin-bottom: 0;
}
header .navbar .secondary-header ul li {
  display: inline;
  margin-right: 2rem;
}
header .navbar .secondary-header ul li a {
  color: inherit;
}
header .navbar .secondary-header .text-right ul li {
  margin-right: 0;
}
header .navbar .secondary-header .header-search .btn {
  background-color: #B7A652;
}
main {
  padding-top: 12rem;
}
main .carousel-container .carousel-item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 100%;
}
main .carousel-container .carousel-item .text-box {
  background-color: rgba(0, 0, 0, 0.5);
  min-height: calc(100vh - 12rem);
  display: flex;
  align-items: center;
  text-align: center;
}
main .carousel-container .carousel-item .text-box h1 {
  width: 100%;
  font-weight: 800;
  font-size: 5.5rem;
  color: #fff;
  font-family: 'abelregular', sans-serif;
  text-transform: uppercase;
  text-align: center;
}
main .carousel-container .item-1 {
  background-image: url('../img/carousel-1.jpg');
}
main .carousel-container .item-2 {
  background-image: url('../img/carousel-2.jpg');
}
main .carousel-container .item-3 {
  background-image: url('../img/carousel-3.jpg');
}
main .carousel-container .item-4 {
  background-image: url('../img/carousel-4.jpg');
}
main .carousel-container .owl-nav {
  position: absolute;
  top: 40%;
  width: 100vw;
  left: 50%;
  transform: translate(-50%, 50%);
  margin: 0;
}
main .carousel-container .owl-nav .owl-prev,
main .carousel-container .owl-nav .owl-next {
  margin: 0;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.3);
  color: #A7A9AC;
  padding: 4rem 2rem;
  transition: 0.3s ease-in-out;
}
main .carousel-container .owl-nav .owl-prev:hover,
main .carousel-container .owl-nav .owl-next:hover {
  background-color: rgba(0, 0, 0, 0.6);
  color: #A7A9AC;
}
main .carousel-container .owl-nav .owl-prev {
  position: absolute;
  left: 3rem;
}
main .carousel-container .owl-nav .owl-prev:after {
  font-family: 'FontAwesome';
  content: "\f104";
}
main .carousel-container .owl-nav .owl-next {
  position: absolute;
  right: 3rem;
}
main .carousel-container .owl-nav .owl-next:before {
  font-family: 'FontAwesome';
  content: "\f105";
}
main .carousel-container .owl-dots {
  position: absolute;
  top: calc(100% - 4rem);
  left: 50%;
  transform: translate(-50%, 0);
}
main .carousel-container .owl-dots .owl-dot span {
  margin: 5px;
  background-color: #fff;
  opacity: 0.3;
}
main .carousel-container .owl-dots .owl-dot.active span {
  opacity: 1;
}
main .about-us .quote {
  background-color: #CCBA6D;
}
main .about-us .quote .quote-text {
  font-family: 'abelregular', sans-serif;
  padding: 1rem;
  color: #fff;
  margin-top: 1rem;
}
main .about-us .about-us-texts {
  margin-top: 5rem;
}
main .about-us .about-us-texts .hello-message {
  font-family: 'abelregular', sans-serif;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
}
main .about-us .about-us-texts .hello-texts {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
main .about-us .about-us-texts .why-us {
  background-color: #00899D;
  color: #fff;
  padding: 1rem 1.5rem;
  border-right: 5rem;
  border-right-style: solid;
  border-right-color: #CCBA6D;
}
main .about-us .about-us-texts .why-us .why-us-title {
  font-family: 'abelregular', sans-serif;
  margin-top: 1rem;
}
main .about-us .about-us-texts .why-us-texts {
  padding: 1.5rem;
  background-color: #e6e6e6;
}
main .products .products-bg {
  background-color: #e6e6e6;
  margin-left: 0;
  margin-right: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
main .products .products-bg .section-heading {
  font-family: 'abelregular', sans-serif;
  margin-top: 1rem;
}
main .products .products-bg .product-container {
  margin-bottom: 2rem;
}
main .products .products-bg .product-container .product-image {
  border: 1rem solid #fff;
}
main .products .products-bg .product-container .product-details {
  background-color: #00899D;
  padding: 1rem;
  color: #fff;
}
main .products .products-bg .product-container .product-details .product-title {
  font-family: 'abelregular', sans-serif;
  margin-top: 0;
  font-size: 2.5rem;
}
main .products .products-bg .product-container .product-details .product-details-texts {
  margin-bottom: 0;
  font-size: 1.5rem;
  line-height: 1.8rem;
}
main .products .products-bg .product-container .product-details.even {
  background-color: #CCBA6D;
}
main .services {
  margin-top: 2rem;
}
main .services .services-wrapper {
  background-color: #00899D;
  padding-top: 1rem;
  padding-bottom: 4rem;
}
main .services .services-wrapper .section-heading {
  font-family: 'abelregular', sans-serif;
  background-color: #CCBA6D;
  color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
main .services .services-wrapper .service-item {
  width: 60%;
  margin: 2rem auto;
}
main .services .services-wrapper .service-item .service-thumb {
  border-radius: 50%;
  border: 0.6rem solid #fff;
  overflow: hidden;
  padding: 3rem;
}
main .services .services-wrapper .service-item .service-name {
  font-family: 'abelregular', sans-serif;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}
main .team .less-padding-left {
  padding-left: 3px;
}
main .team .less-padding-right {
  padding-right: 3px;
}
main .team .team-header-container {
  font-family: 'abelregular', sans-serif;
  background-color: #A7A9AC;
  padding-top: 4rem;
  padding-bottom: 5rem;
}
main .team .team-header-container p {
  color: #fff;
  font-size: 2rem;
  line-height: 4rem;
  text-transform: uppercase;
}
main .team .team-members {
  background-color: #e6e6e6;
  font-family: 'abelregular', sans-serif;
}
main .team .team-members .member-thumb {
  width: 15.2rem;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
main .team .team-members .member-thumb .member-img {
  border-radius: 50%;
  border: 1rem solid #fff;
}
main .team .team-members .member-thumb .member-details {
  text-align: center;
  padding: 1rem;
}
main .team .team-members .member-thumb .member-details p {
  margin-bottom: 0;
}
main .team .team-members .member-thumb .member-details .name {
  font-size: 2rem;
  color: #CCBA6D;
}
main .clients {
  font-family: 'abelregular', sans-serif;
}
main .clients .clients-wrapper {
  background-color: #e6e6e6;
  margin-top: 2rem;
  padding-bottom: 3rem;
}
main .clients .clients-wrapper .section-heading {
  color: #00899D;
}
main .clients .clients-wrapper .client-logo {
  max-width: 18rem;
  margin: 1rem auto;
}
main .contact-us {
  font-family: 'abelregular', sans-serif;
  text-transform: uppercase;
  color: #CCBA6D;
}
main .contact-us .map-container {
  background-image: url('../img/map.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 100%;
}
main .contact-us .map-container .dark-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 4rem 8rem 2rem;
  position: relative;
}
main .contact-us .map-container .dark-overlay .contact-us-logo {
  max-width: 20rem;
}
main .contact-us .map-container .dark-overlay .address {
  color: #CCBA6D;
  font-size: 1.4rem;
}
main .contact-us .map-container .dark-overlay .contact-form {
  padding-top: 4rem;
}
main .contact-us .map-container .dark-overlay .contact-form label {
  line-height: 3.4rem;
}
main .contact-us .map-container .dark-overlay .contact-form .form-control {
  background-color: transparent;
  border: 1px solid #CCBA6D;
  color: #CCBA6D;
}
main .contact-us .map-container .dark-overlay .contact-form .form-control:focus {
  box-shadow: none;
}
main .contact-us .map-container .dark-overlay .contact-form .btn {
  background-color: #CCBA6D;
  color: #fff;
}
main .contact-us .map-container .dark-overlay .scroll-top-btn {
  background-color: #00899D;
  position: absolute;
  bottom: 0;
  right: 2rem;
  padding: 0.5rem 1rem;
  color: #fff;
  cursor: pointer;
}
footer {
  font-family: 'abelregular', sans-serif;
  color: #fff;
  text-transform: uppercase;
}
footer p {
  margin-bottom: 0;
}
footer .copyright {
  background-color: #CCBA6D;
  border-top: 2rem;
  border-top-style: solid;
  border-top-color: #B7A652;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
footer .copyright ul {
  margin-bottom: 0;
}
footer .copyright ul li {
  display: inline;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
footer .copyright ul li a {
  color: inherit;
}
footer .developer {
  background-color: #00899D;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
footer .developer .dev-logo {
  max-width: 50px;
}
/*RESPONSIVE STYLE */
