<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-md-offset-1">
                <h4>Products</h4>
                <ul class="list-unstyled">
                    <li><a href="#">Office Space</a></li>
                    <li><a href="#">Co Working</a></li>
                    <li><a href="#">Virtual Office</a></li>
                    <li><a href="#">Meeting room</a></li>
                    <li><a href="#">Businessworld</a></li>
                    <li><a href="#">Workplace Recovery</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h4>About Us</h4>
                <ul class="list-unstyled">
                    <li><a href="#">Regus PLC</a></li>
                    <li><a href="#">Careers</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h4>Contact Us</h4>
                <ul class="list-unstyled">
                    <li><a href="#">Mane an enquiry</a></li>
                    <li><a href="#">Customer Services</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h4>Connect with us</h4>
                <ul class="list-unstyled social-area">
                    <li><a href="#" class="facebook"><i class="fa fa-facebook-f" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="google-plus"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="whatsup"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h4>Download our App</h4>
                <ul class="list-unstyled download-apps">
                    <li>
                        <a href="#">
                            <img src="assets/img/icons/apple-icon.png" alt="apple icon"/>
                            <div class="texts">
                                <p>
                                    Available on <br>
                                    <span>App Store</span>
                                </p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="assets/img/icons/play-store-icon.png" alt="apple icon"/>
                            <div class="texts">
                                <p>
                                    Android app on <br>
                                    <span>Google Play</span>
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-md-offset-1 text-right footer-small">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Terms &amp; Privacy</a></li>
                    <li><a href="#">Sitemap</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>