<header>
    <div class="container">
        <div class="row">
            <nav class="navbar">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Create an Account / Log In</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </nav>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="searchbox">
                    <div class="col-xs-12 col-md-6">
                        <ul class="nav navbar-nav navbar-left">
                            <li><a href="#">Location</a></li>
                            <li><a href="#">Product</a></li>
                            <li><a href="#">Customers</a></li>
                            <li><a href="#">Partners</a></li>
                            <li><a href="#">Magazine</a></li>
                        </ul>
                    </div>

                    <div class="col-xs-12 col-md-6 text-right">
                        <select>
                            <option value="all" selected="selected">All Categories</option>
                            <option value="one">Category One</option>
                            <option value="two">Category Two</option>
                            <option value="three">Category Three</option>
                        </select>
                        <input type="text" placeholder="Looking for Location ?">
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>