/*importing fonts*/
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i';

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  cursor: default;
}

body {
  background-color: transparent;
  color: white;
  font-family: monospace;
}

h1 {
  margin-bottom: 10px;
}

.boundary {
  width: 500px;
  height: 500px;
}

#controls {
  width: 600px;
  height: 120px;
}

.board {
  position: relative;
  width: 100vw;
  height: 100vw;
  border: 1px solid black;
  z-index:0;
  box-shadow: 0px 0px 7px black inset;
  overflow: hidden;
  max-width: 500px;
  max-height: 500px;  
}

.box {
  position: absolute;
  height: 20%;
  width: 20%;
  float: left;
  transition: 0.5s;
  background-image: url("images/firefox.svg");
  box-shadow: 0px 0px 7px black;
  background-size: 500%;
}

.border {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

div.one {
  background-position: 0% 0%;  
}

div.two {
  background-position: -100% 0%;  
}

div.three {
  background-position: -200% 0%;  
}

div.four {
  background-position: -300% 0%;  
}

div.five {
  background: none;
  box-shadow: 0px 0px 0px black;  
}

.five .border {
  border: none;
}

div.six {
  background-position: 0% -100%;  
}

div.seven {
  background-position: -100% -100%;  
}

div.eight {
  background-position: -200% -100%;  
}

div.nine {
  background-position: -300% -100%;  
}

div.ten {
  background-position: -400% -100%;  
}

div.eleven {
  background-position: 0% -200%;  
}

div.twelve {
  background-position: -100% -200%;  
}

div.thirteen {
  background-position: -200% -200%;  
}

div.fourteen {
  background-position: -300% -200%;  
}

div.fifteen {
  background-position: -400% -200%;  
}

div.sixteen {
  background-position: 0% -300%;  
}

div.seventeen {
  background-position: -100% -300%;  
}

div.eighteen {
  background-position: -200% -300%;  
}

div.nineteen {
  background-position: -300% -300%;  
}

div.twenty {
  background-position: -400% -300%;  
}

div.twenty_one {
  background-position: 0% -400%;  
}

div.twenty_two {
  background-position: -100% -400%;  
}

div.twenty_three {
  background-position: -200% -400%;  
}

div.twenty_four {
  background-position: -300% -400%;  
}

div.twenty_five {
  background-position: -400% -400%;  
}
