<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-xs-12">
                <img src="assets/img/logo-footer.png" alt="logo" class="footer-logo">
                <h4 class="footer-logo-wordmark">White Front</h4>
                <p>
                    Our team at white Front Pharmacy is working hard around the clock in order to improve patients & ...
                </p>
            </div>
            <div class="col-md-4 col-md-offset-1 col-sm-6 col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        <h3 class="footer-header">Contact Info</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <ul class="footer-links">
                            <li class="address">1175 Baker St Suite A6 Costa Mesa, CA 92626</li>
                            <li class="phone">(714) 540-2882 <br>(714) 540-0195</li>
                            <li class="mail">whitefrontrx@gmail.com</li>
                        </ul>
                    </div>
                    <div class="col-xs-6">
                        <ul class="footer-links">
                            <li class="hours">Mon - Fri: 9AM - 6:30PM <br> Sat: 9:30AM - 4:00PM <br> Sun: Free</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-offset-1 col-xs-12">
                <h3 class="footer-header">
                    Social Links
                </h3>
                <ul class="social-links list-unstyled">
                    <li><a href="#" class="facebook"><img src="assets/img/icons/icon-facebook.svg" alt="facebook-icon"></a></li>
                    <li><a href="#" class="twitter"><img src="assets/img/icons/icon-twitter.svg" alt="twitter-icon"></a></li>
                    <li><a href="#" class="youtube"><img src="assets/img/icons/icon-youtube.svg" alt="youtube-icon"></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <p>Copyright 2018 White Front</p>
                </div>
            </div>
        </div>
    </div>
</footer>