<div class="rx-refill">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6 rx-refill-left">
                <div class="rx-refill-form">
                    <h2 class="section-header has-seperator right-blue">Rx <span>Refill</span></h2>
                    <form action="#">
                        <div class="row">
                            <div class="form-group col-xs-12 col-sm-6">
                                <input type="text" class="form-control" name="fname" placeholder="First Name">
                            </div>
                            <div class="form-group col-xs-12 col-sm-6">
                                <input type="text" class="form-control" name="lname" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-12 col-sm-6">
                                <input type="text" class="form-control" name="dateofbirth" placeholder="Dob:">
                            </div>
                            <div class="form-group col-xs-12 col-sm-6">
                                <input type="text" class="form-control" name="rx-number" placeholder="RX Number">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button type="button" class="btn no-margin">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 rx-refill-right">
            </div>
        </div>
    </div>
</div>