/*TYPOGRAPHY*/
/* importing mixing and variables */
/* rules for body contents */
body {
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  line-height: 24px;
}
body .btn,
body .btn-full {
  padding: 10px 30px;
  margin: 0;
  border-radius: 0.5rem;
  transition: 0.3s;
  text-transform: none;
}
body .btn:hover,
body .btn-full:hover,
body .btn:active,
body .btn-full:active,
body .btn:focus,
body .btn-full:focus {
  color: #fff;
}
body .btn-full {
  width: 100%;
}
/*home Page*/
header .navbar {
  padding-top: 3rem;
  border-bottom: 0;
  transition: 0.3s ease-in-out;
}
header .navbar .navbar-right {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
header .navbar ul li a {
  color: #fff;
  text-transform: uppercase;
  text-shadow: none;
  font-weight: 200;
  border-bottom: 2px solid transparent;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin-right: 1rem;
  margin-left: 1rem;
}
header .navbar ul li a:hover,
header .navbar ul li a:focus {
  background: transparent;
  border-bottom: 2px solid #fff;
}
header .navbar ul li.logo a img {
  vertical-align: middle;
  max-width: 8rem;
  transition: 0.3s ease-in-out;
}
header .navbar ul li.logo a:hover {
  border-bottom: 2px solid transparent;
}
header .navbar.white {
  background-color: #fff;
  padding-top: 0;
  box-shadow: 0 0 2.5rem 0 rgba(0, 0, 0, 0.05);
}
header .navbar.white .navbar-right {
  margin-top: 0.5rem;
  margin-bottom: 0;
}
header .navbar.white ul li a {
  color: #262626;
  font-size: 1.4rem;
  font-weight: 400;
}
header .navbar.white ul li a:hover,
header .navbar.white ul li a:focus {
  border-bottom: 2px solid #6E6E6E;
}
header .navbar.white ul li.logo a img {
  vertical-align: middle;
  max-width: 4.5rem;
}
header .navbar.white ul li.logo a:hover {
  border-bottom: 2px solid transparent;
}
.intro {
  background-image: url('../img/background-top.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 100%;
}
.intro .text-box {
  min-height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
}
.intro .text-box div {
  width: 100%;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
}
.intro .text-box div p {
  font-weight: 200;
  font-size: 2.2rem;
  margin-bottom: 3.5rem;
  opacity: .9;
}
.intro .text-box div h1 {
  font-weight: 800;
  font-size: 5.5rem;
}
.intro .text-box div h1 span {
  padding-right: 5px;
  border-right: 3px solid #fff;
}
.about-us {
  background-image: url('../img/about-us-bg.svg');
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: 50% 50%;
  padding-top: 8rem;
  padding-bottom: 12rem;
}
.about-us .section-heading {
  text-transform: uppercase;
  font-size: 2.8rem;
  font-weight: 700;
  color: #262626;
  margin-bottom: 3.5rem;
}
.about-us .about-us-details {
  color: #6E6E6E;
  line-height: 2.8rem;
}
.about-us .key-info-container {
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.about-us .key-info-container .key-info {
  padding: 4rem;
  box-shadow: 0 0 4.5rem rgba(0, 0, 0, 0.05);
  background-color: #fff;
  border-radius: 0.5rem;
}
.about-us .key-info-container .key-info img {
  max-height: 100px;
}
.about-us .key-info-container .key-info .key-info-details {
  color: #262626;
  font-weight: 700;
}
.about-us .quote-from-us {
  margin-top: 2rem;
  color: #262626;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 4.4rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.about-us .quote-from-us span {
  color: #16D2FF;
}
.about-us .quote-by {
  margin-top: 3rem;
  color: #16D2FF;
  font-weight: 700;
  text-transform: uppercase;
}
.our-services {
  background-image: url('../img/services-bg.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 70%;
  padding-top: 12rem;
  padding-bottom: 15rem;
}
.our-services .section-heading {
  margin-top: 6rem;
  text-transform: uppercase;
  font-size: 2.8rem;
  font-weight: 600;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 2.5rem;
}
.our-services .service-details {
  color: #fff;
  margin-top: 2.5rem;
  line-height: 3.4rem;
  font-weight: 200;
}
.our-services .strategy-carousel {
  background-color: #fff;
  padding: 4rem;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 5.5rem rgba(0, 0, 0, 0.05);
  position: relative;
}
.our-services .strategy-carousel div .carousel-illustration {
  margin-bottom: 2rem;
}
.our-services .strategy-carousel div .carousel-item-heading {
  text-transform: uppercase;
  font-size: 2.8rem;
  line-height: 4.4rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #262626;
}
.our-services .strategy-carousel div .carousel-item-details {
  line-height: 2.8rem;
  color: #6E6E6E;
  font-weight: 300;
}
.our-services .owl-carousel .owl-item img {
  display: block;
  margin: 0 auto 2rem;
  width: auto;
}
.our-services .owl-carousel .owl-dots {
  position: absolute;
  transform: translate(-50%, 50%);
  left: 50%;
  top: 95%;
}
.our-services .owl-carousel .owl-dots .owl-dot span {
  width: 8rem;
  height: 8rem;
  border-radius: 0.5rem;
  margin: 0 1rem;
  box-shadow: 0 2rem 5.4rem 0 rgba(0, 0, 0, 0.05);
  background-image: url('../img/icons/arrow.svg'), linear-gradient(0deg, #64AFFF, #3D89FF);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 45%, 100%;
  filter: invert(0);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.our-services .owl-carousel .owl-dots .owl-dot:last-child span {
  -moz-transform: scaleX(1);
  -o-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.our-services .owl-carousel .owl-dots .owl-dot.active span {
  background: url('../img/icons/arrow.svg'), #000;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 45%, 100%;
  box-shadow: 0 2rem 5.4rem 0 rgba(255, 255, 255, 0.05);
  filter: invert(100%);
}
.our-clients {
  padding-top: 8rem;
  padding-bottom: 6rem;
}
.our-clients .section-heading {
  text-transform: uppercase;
  font-size: 2.8rem;
  font-weight: 700;
  color: #262626;
  margin-bottom: 3.5rem;
}
.our-clients .client-grid-row {
  padding-top: 3rem;
  padding-bottom: 6rem;
}
.our-clients .client-grid-row .client-grid-container .no-padding {
  padding: 0;
}
.our-clients .client-grid-row .client-grid-container .clients {
  box-shadow: 0 0 4.5rem rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
  padding: 3rem;
  margin: 1rem;
  min-height: 30rem;
  display: flex;
  align-items: center;
}
.our-clients .client-grid-row .client-grid-container .clients img {
  display: block;
  margin: 0 auto;
}
.get-in-touch {
  background-image: url('../img/background-footer.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;
  padding-top: 20rem;
  padding-bottom: 8rem;
}
.get-in-touch .row .section-heading {
  color: #fff;
  font-size: 2.6rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 4rem;
}
.get-in-touch .row .section-heading img {
  margin-right: 1.5rem;
}
.get-in-touch .no-padding-left {
  padding-left: 0;
}
.get-in-touch .contact-section-left {
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 3rem;
  padding-bottom: 3.5rem;
  box-shadow: 0 0 5.5rem rgba(0, 0, 0, 0.05);
  z-index: 5;
}
.get-in-touch .contact-section-left .form-header {
  color: #262626;
  font-size: 2.8rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.get-in-touch .contact-section-left .form-control {
  border-radius: 0;
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #B3B3B3;
  margin-bottom: 2rem;
  padding: 2rem;
  padding-left: 5px;
  font-size: 1.4rem;
  font-weight: 300;
  color: #9B9B9B;
  transition: 0.3s ease-in-out;
}
.get-in-touch .contact-section-left .form-control:focus {
  border-bottom: 1px solid #16D2FF;
}
.get-in-touch .contact-section-left .btn-grad {
  background: linear-gradient(0deg, #64AFFF, #3D89FF);
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 1.5rem 4rem;
  border: 0;
  text-transform: uppercase;
}
.get-in-touch .contact-section-right {
  background-color: #fff;
  border-radius: 0 0.5rem 0.5rem 0;
  margin-top: 2rem;
  padding: 3rem;
}
.get-in-touch .contact-section-right h4 {
  margin-top: 2rem;
  font-weight: 700;
  font-size: 1.8rem;
  color: #262626;
}
.get-in-touch .contact-section-right p {
  font-size: 1.4rem;
  line-height: 2.8rem;
  font-weight: 300;
  color: #6E6E6E;
}
.get-in-touch .contact-section-right p.address {
  margin-bottom: 0;
}
.get-in-touch .contact-section-right img.icon {
  margin-right: 1rem;
}
footer {
  padding-top: 3rem;
  padding-bottom: 2rem;
  background-color: #152845;
  color: #fff;
  border-top: 1px solid rgba(22, 210, 255, 0.24);
}
footer .logo {
  line-height: 6rem;
}
footer .copyright-note {
  font-weight: 200;
  line-height: 6rem;
}
footer .social-links {
  list-style: none;
}
footer .social-links li {
  display: inline-block;
}
footer .social-links li a i {
  padding: 20px;
  border-radius: 5px;
  width: 6rem;
  height: 6rem;
  text-align: center;
  line-height: 2rem;
  font-size: 2.5rem;
  color: #fff;
}
footer .social-links li a .fa-facebook {
  background: linear-gradient(120deg, #598FD6, #2D56AC);
  margin-right: 1rem;
}
footer .social-links li a .fa-twitter {
  background: linear-gradient(120deg, #75DBFF, #55D1FF);
}
/*RESPONSIVE STYLE */
@media (max-width: 1199px) {
  .about-us {
    background-size: contain;
    padding-bottom: 8rem;
  }
  .about-us .quote-from-us {
    font-size: 2rem;
    line-height: 3.4rem;
  }
  .about-us .key-info-container .key-info .key-info-details {
    font-size: 1.4rem;
  }
  .our-services {
    background-size: cover;
    background-position: 55% 70%;
    padding-top: 8rem;
  }
}
@media (max-width: 768px) {
  .about-us .key-info-container .key-info .key-info-details {
    margin-top: 1rem;
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
  .our-services {
    background-position: 58% 70%;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .our-services .section-heading {
    font-size: 2rem;
  }
  .our-services .service-details {
    line-height: 2.4rem;
  }
  .our-services .strategy-carousel div .carousel-item-heading {
    font-size: 2rem;
    line-height: 2.8rem;
  }
  .our-services .strategy-carousel div .carousel-item-details {
    line-height: 2.4rem;
  }
  .our-services .owl-carousel .owl-dots .owl-dot span {
    width: 6rem;
    height: 6rem;
    border-radius: .5rem;
    margin: 0 1rem;
    box-shadow: 0 2rem 5.4rem 0 rgba(0, 0, 0, 0.05);
  }
  .our-clients .client-grid-row .client-grid-container .clients {
    min-height: 18rem;
  }
  .get-in-touch .contact-section-right p {
    line-height: 2.6rem;
  }
  footer .logo {
    line-height: 4rem;
  }
  footer .copyright-note {
    font-weight: 200;
    line-height: 4rem;
    font-size: 1.4rem;
  }
  footer .social-links li a i {
    padding: 10px;
    width: 4rem;
    height: 4rem;
    line-height: 2rem;
    font-size: 1.5rem;
  }
}
@media (max-width: 767px) {
  header .navbar {
    padding-top: 1rem;
  }
  header .navbar .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  header .navbar .navbar-right {
    background-color: rgba(61, 137, 255, 0.5);
    margin-top: 0;
  }
  header .navbar ul li a {
    font-size: 1.4rem;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
  }
  header .navbar ul li a:hover,
  header .navbar ul li a:focus,
  header .navbar ul li a:active {
    border-bottom: 2px solid transparent;
  }
  header .navbar.white .navbar-toggle .icon-bar {
    background-color: #262626;
  }
  header .navbar.white .navbar-right {
    background-color: rgba(255, 255, 255, 0.5);
  }
  header .navbar.white ul li a {
    font-size: 1.4rem;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
  }
  header .navbar.white ul li a:hover,
  header .navbar.white ul li a:focus,
  header .navbar.white ul li a:active {
    border-bottom: 2px solid transparent;
  }
}
@media (max-width: 575px) {
  .intro .text-box div p {
    font-size: 1.2rem;
    margin-bottom: 2.5rem;
  }
  .intro .text-box div h1 {
    font-size: 2rem;
  }
  .about-us .about-us-details {
    line-height: 2.4rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .about-us .key-info-container .key-info {
    margin-bottom: 1.5rem;
  }
  .about-us .key-info-container .key-info .key-info-details {
    font-size: 1.6rem;
  }
  .about-us .quote-from-us {
    font-size: 1.4rem;
    line-height: 2.4rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .our-services {
    background-position: 20% 0;
    padding-top: 2rem;
    padding-bottom: 10rem;
    background-size: cover;
  }
  .get-in-touch {
    background-position: 25% 0;
    padding-top: 10rem;
    padding-bottom: 4rem;
  }
  .get-in-touch .row .section-heading {
    font-size: 2rem;
  }
  .get-in-touch .row .section-heading img {
    margin-right: .5rem;
    margin-left: 1.5rem;
    max-width: 2.5rem;
  }
  .get-in-touch .contact-section-left .form-header {
    font-size: 2rem;
  }
  .get-in-touch .contact-section-left {
    width: calc(100% - 2rem);
    border-radius: .5rem;
    padding: 2rem 2rem 2.5rem;
    z-index: 5;
    margin: 1rem;
  }
  .get-in-touch .contact-section-right {
    width: calc(100% - 2rem);
    border-radius: .5rem;
    margin: 1rem;
    margin-top: 2rem;
    padding: 2rem;
  }
  footer {
    padding-top: 1rem;
  }
  footer .logo,
  footer .copyright-note {
    text-align: center;
    line-height: 3rem;
  }
  footer .social-links {
    padding-left: 0;
    text-align: center;
  }
}
