/*TYPOGRAPHY*/
/* importing mixing and variables */
/* rules for body contents */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 21px;
}
body .btn,
body .btn-full {
  padding: 10px 30px;
  margin: 0;
  border-radius: 3.5rem;
  transition: 0.3s;
  text-transform: none;
  color: #262626;
  background-color: #fff;
}
body .btn:hover,
body .btn-full:hover,
body .btn:active,
body .btn-full:active,
body .btn:focus,
body .btn-full:focus {
  color: #6E6E6E;
}
body .btn.blue {
  border: 1px solid #3B7DF8;
}
body .btn.green {
  border: 1px solid #00D26A;
  background-color: #00D26A;
  color: #fff !important;
  padding-left: 30px;
  padding-right: 30px;
}
body .btn.green:hover {
  color: #00D26A !important;
}
body .btn.blue.focused {
  border: 1px solid transparent;
  background-color: #3B7DF8;
  color: white;
}
body .btn.blue.focused:hover,
body .btn.blue.focused:active,
body .btn.blue.focused:focus {
  background-color: #5490FF;
}
body .btn-full {
  width: 100%;
}
/*home Page*/
header .navbar {
  background-color: #fff;
  margin-bottom: 0;
  border-bottom: 0;
  box-shadow: 5px 0 3px rgba(0, 0, 0, 0.05);
}
header .navbar-header .logo a {
  padding: 10px;
}
header .navbar-collapse ul.navbar-nav {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
header .navbar-collapse ul.navbar-nav li .navbar-brand {
  padding: 0;
  height: auto;
}
header .navbar-collapse ul.navbar-nav li .navbar-brand img {
  height: 40px;
  padding: 2px;
  width: auto;
}
header .navbar-collapse ul.navbar-nav li a {
  color: #262626;
  font-weight: 300;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 0.3s ease-in-out;
}
header .navbar-collapse ul.navbar-nav li a:hover,
header .navbar-collapse ul.navbar-nav li a:focus,
header .navbar-collapse ul.navbar-nav li a:active {
  color: #9E9E9E;
  background-color: transparent;
}
header .navbar-toggle .icon-bar {
  background-color: #3B7DF8;
}
main {
  font-weight: 300;
  padding-top: 6rem;
}
main .main-bg-wrapper {
  background-image: url('../img/main-bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 100%;
}
main .main-bg-wrapper .intro {
  background-color: rgba(59, 125, 248, 0.9);
}
main .main-bg-wrapper .intro .searchbox-container {
  min-height: 60vh;
  display: flex;
  align-items: center;
  background-color: transparent;
}
main .main-bg-wrapper .intro .searchbox-container div {
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 3.5rem ;
  margin: 0 auto;
  width: auto;
}
main .main-bg-wrapper .intro .searchbox-container div input {
  background-color: transparent;
  border: 0;
  min-width: 40rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
main .main-bg-wrapper .intro .searchbox-container div input:focus,
main .main-bg-wrapper .intro .searchbox-container div input:active {
  outline: none;
}
main .main-bg-wrapper .intro .searchbox-container div select {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background-color: transparent;
}
main .main-bg-wrapper .intro .searchbox-container div .btn.green {
  margin-left: 0.5rem;
}
main .main-bg-wrapper .intro .searchbox-container div .btn.green:hover {
  background-color: #00B95D;
  border-color: #00B95D;
  color: #fff !important;
}
main .services {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
main .services .section-heading {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 5rem;
  color: #6E6E6E;
}
main .services .service-package {
  padding: 3rem;
  transition: 0.3s ease-in-out;
  border-radius: 5px;
  color: #9E9E9E;
}
main .services .service-package img {
  max-width: 100px;
}
main .services .service-package h4 {
  font-weight: 300;
  margin-bottom: 2rem;
  color: #6E6E6E;
}
main .services .service-package .price-box {
  padding: 2rem;
}
main .services .service-package .price-box p {
  margin-bottom: 5px;
}
main .services .service-package .price-box .price {
  color: #3D3D3D;
  font-size: 2.2rem;
  font-weight: 400;
}
main .services .service-package:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
}
main .services .service-package:hover .btn {
  background-color: #3B7DF8;
  color: #fff;
}
main .services .service-package:hover .btn:hover,
main .services .service-package:hover .btn:active,
main .services .service-package:hover .btn:focus {
  background-color: #5490FF;
}
main .build-site {
  background-color: #00D26A;
  padding-top: 5rem;
  padding-bottom: 5rem;
  font-size: 1.6rem;
  font-weight: 300;
  color: #fff;
}
main .build-site p {
  margin-bottom: 0;
}
main .build-site .btn {
  margin-left: 2rem;
}
main .why-us {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
main .why-us .section-heading {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 5rem;
  color: #6E6E6E;
}
main .why-us .advantages {
  padding: 3rem  4.5rem;
}
main .why-us .advantages img {
  max-width: 100px;
}
main .why-us .advantages h4 {
  color: #34D66A;
}
main .why-us .advantages p {
  color: #9E9E9E;
  font-weight: 300;
}
main .testimonials {
  background-color: #3B7DF8;
  padding-top: 5rem;
  padding-bottom: 5rem;
  color: #fff;
  text-align: center;
}
main .testimonials .section-heading {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 3rem;
  color: #fff;
}
main .testimonials .carousel-testimonials {
  background-color: #fff;
  padding: 3rem 5rem;
  color: #9E9E9E;
  border-radius: 0.5rem;
  position: relative;
}
main .testimonials .carousel-testimonials div.testimonial-item img {
  max-width: 80px;
  display: block;
  margin: 0 auto;
}
main .testimonials .carousel-testimonials .owl-nav {
  position: absolute;
  top: 10%;
  width: 100vw;
  left: 50%;
  transform: translate(-50%, 50%);
  margin: 0;
}
main .testimonials .carousel-testimonials .owl-nav .owl-prev,
main .testimonials .carousel-testimonials .owl-nav .owl-next {
  margin: 0;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 4rem 1rem;
  transition: 0.3s ease-in-out;
}
main .testimonials .carousel-testimonials .owl-nav .owl-prev:hover,
main .testimonials .carousel-testimonials .owl-nav .owl-next:hover {
  background-color: rgba(255, 255, 255, 0.6);
}
main .testimonials .carousel-testimonials .owl-nav .owl-prev {
  position: absolute;
  left: 0;
  border-radius: 0 0.5rem 0.5rem 0;
}
main .testimonials .carousel-testimonials .owl-nav .owl-prev:after {
  font-family: 'FontAwesome';
  content: "\f104";
}
main .testimonials .carousel-testimonials .owl-nav .owl-next {
  position: absolute;
  right: 0;
  border-radius: 0.5rem 0 0 0.5rem;
}
main .testimonials .carousel-testimonials .owl-nav .owl-next:before {
  font-family: 'FontAwesome';
  content: "\f105";
}
main .testimonials .carousel-testimonials .owl-dots {
  position: absolute;
  top: calc(100% + 1rem);
  left: 50%;
  transform: translate(-50%, 0);
}
main .testimonials .carousel-testimonials .owl-dots .owl-dot span {
  margin: 5px;
  background-color: #fff;
  opacity: 0.3;
}
main .testimonials .carousel-testimonials .owl-dots .owl-dot.active span {
  opacity: 1;
}
main .testimonials .carousel-testimonials + .carousel-testimonials-bg {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  width: calc(100% - 1rem);
  height: calc(100% - 2rem);
  top: 1rem;
  left: 0.5rem;
  z-index: 0;
  border-radius: 0.6rem;
}
main .hosting-plans {
  padding-top: 5rem;
  padding-bottom: 7rem;
}
main .hosting-plans .section-heading {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 5rem;
  color: #6E6E6E;
}
main .hosting-plans .plan-box-container {
  padding-left: 0;
  padding-right: 0;
}
main .hosting-plans .plan-box-container .plan-box {
  margin-top: 1rem;
  padding: 3rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}
main .hosting-plans .plan-box-container .plan-box .price {
  font-size: 1.6rem;
  margin-bottom: 4rem;
}
main .hosting-plans .plan-box-container .plan-box .price span {
  font-size: 4.2rem;
}
main .hosting-plans .plan-box-container .plan-box ul li {
  line-height: 4rem;
  color: #9E9E9E;
  font-weight: 200;
}
main .hosting-plans .plan-box-container .plan-box:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
}
main .hosting-plans .plan-box-container .plan-box:hover .btn {
  background-color: #3B7DF8;
  color: #fff;
}
main .hosting-plans .plan-box-container .plan-box:hover .btn:hover,
main .hosting-plans .plan-box-container .plan-box:hover .btn:active,
main .hosting-plans .plan-box-container .plan-box:hover .btn:focus {
  background-color: #5490FF;
}
main .hosting-plans .plan-box-container .plan-box.one {
  box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.05);
}
main .hosting-plans .plan-box-container .plan-box.two {
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.05);
}
main .hosting-plans .plan-box-container .plan-box.three {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.05);
}
main .hosting-plans .plan-box-container .plan-box.top {
  z-index: 10;
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-top: 0;
  position: relative;
}
main .hosting-plans .plan-box-container .plan-box.top:after {
  position: absolute;
  font-size: 1.2rem;
  padding: 0.1rem 1.5rem;
  content: 'Top';
  background-color: #FFA42A;
  color: #fff;
  top: 3rem;
  right: 0;
}
main .register {
  background-color: #00D26A;
  padding-top: 5rem;
  padding-bottom: 5rem;
  font-size: 1.6rem;
  font-weight: 300;
  color: #fff;
}
main .register p {
  margin-bottom: 0;
}
main .register .btn {
  margin-left: 2rem;
}
footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
footer h4 {
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 3rem;
}
footer ul li {
  font-size: 1.4rem;
  font-weight: 300;
  color: #9E9E9E;
}
footer ul li a {
  color: #9E9E9E;
}
footer ul li a:hover,
footer ul li a:focus,
footer ul li a:active {
  text-decoration: underline;
}
/*RESPONSIVE STYLE */
@media (max-width: 768px) {
  main .main-bg-wrapper .intro .searchbox-container div input {
    min-width: auto;
  }
}
@media (max-width: 767px) {
  header .navbar-collapse ul.navbar-nav {
    margin-bottom: 3rem;
  }
  header .navbar-collapse ul.navbar-nav li {
    padding-left: 5rem;
    padding-right: 5rem;
    text-align: center;
  }
  main .main-bg-wrapper .intro .searchbox-container div {
    padding: .2rem;
    border-radius: 3.5rem;
    font-size: 1.2rem;
  }
  main .main-bg-wrapper .intro .searchbox-container div input {
    width: 14rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  main .main-bg-wrapper .intro .searchbox-container div .btn.green {
    margin-left: .2rem;
    font-size: 1.2rem;
  }
}
@media (max-width: 575px) {
  main .testimonials .carousel-testimonials {
    padding: 2rem;
  }
  main .hosting-plans .plan-box-container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  main .hosting-plans .plan-box-container .plan-box.top {
    margin-top: 1rem;
  }
  main .hosting-plans .plan-box-container .plan-box {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05) !important;
  }
}
@media (max-width: 380px) {
  main .ribbon .btn {
    margin-left: 0;
    margin-top: 2rem;
  }
}
