<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <p class="logo">
                    <img src="assets/img/logo-white-wordmark.svg" alt="brand-logo">
                </p>
            </div>
            <div class="col-sm-6 text-center">
                <p class="copyright-note"> &copy; Copyright Flowdigital 2018. All rights reserved.</p>
            </div>
            <div class="col-sm-3 text-right">
                <ul class="social-links">
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>