<header>
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav hidden-xs">
                            <li class="logo">
                                <a class="navbar-brand" href="index.html"><img src="assets/img/logo-white.svg" alt="brand-logo"/></a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#intro">Home</a></li>
                            <li><a href="#about-us">About</a></li>
                            <li><a href="#our-services">Service</a></li>
                            <li><a href="#get-in-touch">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>