
<!-- jQuery JS  -->
<script src="assets/vendor/jquery/jquery-3.1.1.min.js"> </script>

<!-- smooth scroll, click to top, click to target etc -->
<script src="assets/vendor/jquery-smooth-scroll/jquery.smooth-scroll.min.js"></script>

<!-- BOOTSTRAP JS  -->
<script src="assets/vendor/bootstrap/js/bootstrap.min.js"> </script>

<!-- TypedJS -->
<script src="assets/vendor/typedjs/typed.min.js"> </script>

<!-- Owl Carousel -->
<script src="assets/vendor/owlcarousel/owl.carousel.min.js"></script>

<!-- Theme Script  -->
<script src="assets/js/script.min.js"></script>
