/* RESET SPACING */
* {
  margin: 0;
  padding: 0;
}
/*TYPOGRAPHY*/
/* importing mixing and variables */
/* rules for body contents */
body {
  font-family: 'Roboto', sans-serif;
}
body .page-heading {
  font-size: 44px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
}
body .page-heading span {
  font-weight: 700;
}
body .page-heading.capitalized {
  text-transform: none;
}
body .section-header {
  font-size: 30px;
  line-height: 38px;
  color: #4b4b4b;
  text-transform: uppercase;
  font-weight: 300;
}
body .section-header span {
  font-weight: 700;
}
body .section-header.capitalized {
  text-transform: none;
}
body .section-header.white {
  color: #fff;
}
body .subheader {
  color: #4b4b4b;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 3rem;
}
body .subheader.white {
  color: #fff;
}
body .btn,
body .btn-full {
  padding: 12px 50px;
  margin: 1rem;
  border-radius: 50px;
  transition: 0.3s;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  background-color: #4ec9e0;
  text-transform: uppercase;
}
body .btn:hover,
body .btn-full:hover {
  color: #fff;
}
body .btn:active,
body .btn-full:active,
body .btn:focus,
body .btn-full:focus {
  color: #fff;
}
body .btn.bordered {
  background-color: transparent;
  border: 2px solid #4ec9e0;
}
body .btn.bordered:hover {
  background-color: #4ec9e0;
}
body .btn.bordered:active,
body .btn.bordered:focus {
  background-color: #4ec9e0;
}
body .btn.bordered.white {
  background-color: transparent;
  border: 2px solid #fff;
}
body .btn.bordered.white:hover {
  background-color: #4ec9e0;
}
body .btn.bordered.white:active,
body .btn.bordered.white:focus {
  background-color: #4ec9e0;
}
body .no-margin {
  margin: 0;
}
body .btn-full {
  width: 100%;
}
body form {
  margin-top: 8rem;
}
body .form-group {
  margin-bottom: 30px;
}
body .form-control {
  padding: 30px 16px;
  font-size: 14px;
  box-shadow: 0 2px 16px rgba(216, 216, 216, 0.25);
  border: 1px solid transparent;
}
body .form-control:focus {
  border: 1px solid transparent;
  box-shadow: 0 2px 16px rgba(216, 216, 216, 0.25);
}
/*home Page*/
header .navbar {
  transition: 0.3s ease-in-out;
  border: none;
  min-height: 80px;
}
header .navbar .navbar-header .logo a {
  padding: 24px 15px;
  font-family: 'Lucida Grande Bold', serif;
  font-size: 26px;
  text-shadow: none;
  color: #fff;
}
header .navbar .navbar-header .logo a img {
  max-height: 80px;
  transition: 0.3s ease-in-out;
  margin-right: 1.5rem;
}
header .navbar-collapse ul.navbar-nav {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
header .navbar-collapse ul.navbar-nav li .navbar-brand {
  padding: 0;
  height: auto;
}
header .navbar-collapse ul.navbar-nav li .navbar-brand img {
  height: 40px;
  padding: 2px;
  width: auto;
}
header .navbar-collapse ul.navbar-nav li a {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  padding: 26px 0 20px;
  margin: 0 15px;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
  text-shadow: none;
  border-bottom: 2px solid transparent;
}
header .navbar-collapse ul.navbar-nav li a:hover,
header .navbar-collapse ul.navbar-nav li a:focus,
header .navbar-collapse ul.navbar-nav li a:active {
  background: transparent;
  border-bottom: 2px solid #4ec9e0;
}
header .navbar-collapse ul.navbar-nav li a.active {
  color: #4ec9e0;
  background-color: transparent;
}
header .navbar-toggle {
  margin: 20px;
  padding: 10px;
}
header .navbar-toggle .icon-bar {
  background-color: #4ec9e0;
}
header .navbar.white {
  background-color: #fff;
  padding-top: 0;
  box-shadow: 0 0 2.5rem 0 rgba(216, 216, 216, 0.25);
  border: none;
  min-height: 70px;
}
header .navbar.white .navbar-header .logo a {
  padding: 10px 15px;
  color: #4b4b4b;
}
header .navbar.white .navbar-header .logo a img {
  max-height: 50px;
}
header .navbar.white .navbar-right {
  margin-top: 0.5rem;
  margin-bottom: 0;
}
header .navbar.white ul li a {
  color: #4b4b4b;
  padding-top: 20px;
  padding-bottom: 24px;
}
header .navbar.white ul li.logo a img {
  vertical-align: middle;
  max-width: 4.5rem;
}
main {
  font-weight: 300;
  color: #4b4b4b;
}
main .main-bg-wrapper {
  background-color: rgba(0, 0, 0, 0.2);
  background-image: url('../img/main-section-overlap-top-grad.svg'), url('../img/main-section-overlap-zigzag.svg'), url('../img/main-section-overlap-abstract.svg');
  background-repeat: no-repeat;
  background-size: 102%, 102%, cover;
  background-position: center 0, center 105%, center 50%;
  position: relative;
  overflow: hidden;
}
main .main-bg-wrapper .intro .intro-text-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
}
main .main-bg-wrapper .intro .intro-text-wrapper .intro-texts h1 {
  color: #fff;
}
main .main-bg-wrapper .intro .intro-text-wrapper .intro-texts .intro-paragraph {
  color: #fff;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 4rem;
}
main .main-bg-wrapper #background {
  position: absolute;
  z-index: -50;
  min-width: 100%;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}
main .has-seperator {
  position: relative;
}
main .has-seperator:after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 100%;
  top: 120%;
  left: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
main .pill {
  margin-bottom: 8rem;
}
main .pill:after {
  height: 4rem;
  background-image: url('../img/separator-pill.svg');
}
main .doubled {
  margin-bottom: 5rem;
}
main .doubled:after {
  height: 1.5rem;
  background-image: url('../img/divider-doubled.svg');
}
main .doubled-white {
  margin-bottom: 5rem;
}
main .doubled-white:after {
  height: 1.5rem;
  background-image: url('../img/divider-doubled-white.svg');
}
main .right-white {
  margin-bottom: 5rem;
}
main .right-white:after {
  height: 1.5rem;
  background-image: url('../img/divider-right.svg');
  background-position: left, center;
}
main .right-blue {
  margin-bottom: 5rem;
}
main .right-blue:after {
  height: 1.5rem;
  background-image: url('../img/divider-right-blue.svg');
  background-position: left, center;
}
main .main-bg-wrapper.about,
main .main-bg-wrapper.research,
main .main-bg-wrapper.refill,
main .main-bg-wrapper.contact {
  background-image: url('../img/about-us.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
main .main-bg-wrapper.about .intro,
main .main-bg-wrapper.research .intro,
main .main-bg-wrapper.refill .intro,
main .main-bg-wrapper.contact .intro {
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url('../img/main-section-overlap-top-grad.svg'), url('../img/main-section-overlap-zigzag.svg'), url('../img/main-section-overlap-abstract.svg');
  background-repeat: no-repeat;
  background-size: 102%, 100%, cover;
  background-position: center 0, center 105%, center 106%;
}
main .main-bg-wrapper.about .intro .intro-text-wrapper,
main .main-bg-wrapper.research .intro .intro-text-wrapper,
main .main-bg-wrapper.refill .intro .intro-text-wrapper,
main .main-bg-wrapper.contact .intro .intro-text-wrapper {
  min-height: 78vh;
  display: flex;
  align-items: center;
}
main .main-bg-wrapper.about .intro .intro-text-wrapper .intro-texts,
main .main-bg-wrapper.research .intro .intro-text-wrapper .intro-texts,
main .main-bg-wrapper.refill .intro .intro-text-wrapper .intro-texts,
main .main-bg-wrapper.contact .intro .intro-text-wrapper .intro-texts {
  width: 100%;
  color: #fff;
}
main .main-bg-wrapper.research {
  background-image: url('../img/research.png');
}
main .main-bg-wrapper.refill {
  background-image: url('../img/rx-refill.png');
}
main .main-bg-wrapper.contact {
  background-image: url('../img/contact-us.png');
}
main .main-bg-wrapper.contact .intro {
  background-color: rgba(0, 0, 0, 0);
  background-image: url('../img/main-section-overlap-top-grad.svg'), url('../img/main-section-overlap-zigzag.svg');
  background-size: 102%, 102%;
  background-position: center 0, center 105%;
}
main .services,
main .testimonial,
main .story,
main .team,
main .talk {
  padding-top: 8rem;
  padding-bottom: 8rem;
}
main .services .services-block-image {
  display: block;
  margin: 4rem auto 3rem;
  width: 40%;
  max-width: 64px;
}
main .services .services-block-header {
  color: #4ec9e0;
  font-size: 20px;
}
main .services .services-block-details {
  font-size: 15px;
  line-height: 22px;
}
main .our-pharmacy .pharmacy-left,
main .research-one .pharmacy-left,
main .research-two .pharmacy-left,
main .our-pharmacy .pharmacy-right,
main .research-one .pharmacy-right,
main .research-two .pharmacy-right,
main .our-pharmacy .research-left,
main .research-one .research-left,
main .research-two .research-left,
main .our-pharmacy .research-right,
main .research-one .research-right,
main .research-two .research-right {
  background-image: url('../img/doc-in-pharmacy.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 68rem;
  padding: 12rem;
}
main .our-pharmacy .pharmacy-left,
main .research-one .pharmacy-left,
main .research-two .pharmacy-left,
main .our-pharmacy .research-left,
main .research-one .research-left,
main .research-two .research-left {
  background-image: url('../img/overlapped-border-top-left.svg'), url('../img/overlapped-border-bottom-right.svg'), url('../img/doc-in-pharmacy.png');
  background-size: contain, contain, cover;
  background-position: top left, bottom right, center;
}
main .our-pharmacy .pharmacy-right,
main .research-one .pharmacy-right,
main .research-two .pharmacy-right,
main .our-pharmacy .research-right,
main .research-one .research-right,
main .research-two .research-right {
  background-image: url('../img/pills-background.png');
  background-color: #4ec9e0;
  display: flex;
  align-items: center;
}
main .research-title {
  padding-top: 6rem;
  padding-bottom: 4rem;
}
main .research-one .research-left {
  background-image: url('../img/overlapped-border-top-left.svg'), url('../img/overlapped-border-bottom-right.svg'), url('../img/research-section-one.png');
}
main .research-one .research-right {
  background: #4ec9e0;
}
main .research-two .research-left {
  background: #4ec9e0;
}
main .research-two .research-right {
  background-image: url('../img/overlapped-border-top-left.svg'), url('../img/overlapped-border-bottom-right.svg'), url('../img/research-section-two.png');
  background-size: contain, contain, cover;
  background-position: top left, bottom right, center;
}
main .testimonial {
  background-image: url('../img/abstract-bg.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-bottom: 10px solid #4ec9e0;
}
main .testimonial .testimonial-item .testimonial-message {
  position: relative;
  width: 90%;
  margin: 5%;
  padding: 2rem 3rem 1.5rem;
  box-shadow: 0 2px 16px rgba(216, 216, 216, 0.25);
}
main .testimonial .testimonial-item .testimonial-message .message {
  font-style: italic;
  font-size: 16px;
}
main .testimonial .testimonial-item .testimonial-message .by {
  text-align: center;
  font-size: 16px;
}
main .testimonial .testimonial-item .testimonial-message:after {
  content: '';
  display: inline-block;
  box-shadow: 4px 4px 10px rgba(216, 216, 216, 0.25);
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  background-color: #fff;
  transform-origin: center center;
  transform: rotate(45deg) translate(-50%, 50%);
  z-index: 500;
}
main .testimonial .testimonial-item .testimonial-provider .testimonial-provider-image {
  display: block;
  margin: 4rem auto 2rem;
  max-width: 70px;
}
main .testimonial .owl-theme .owl-dots {
  margin-top: 0;
}
main .testimonial .owl-theme .owl-dots .owl-dot span {
  width: 12px;
  height: 12px;
  margin: 1px 4px;
}
main .testimonial .owl-theme .owl-dots .owl-dot.active span {
  background-color: #4ec9e0;
}
main .testimonial .owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 0;
}
main .rx-refill .rx-refill-left,
main .rx-refill .rx-refill-right {
  background-color: #f8f8f8;
  min-height: 68rem;
  padding: 12rem;
}
main .rx-refill .rx-refill-left {
  display: flex;
  align-items: center;
}
main .rx-refill .rx-refill-left .rx-refill-form {
  width: 100%;
}
main .rx-refill .rx-refill-right {
  background-image: url('../img/map-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
main .story .story-highlighter {
  color: #4ec9e0;
  font-size: 70px;
  line-height: 110px;
  border-bottom: 1px solid #cecece;
  display: inline-block;
  margin-bottom: 2rem;
  margin-top: 0;
}
main .story .story-highlighter + p {
  font-size: 20px;
}
main .rx-refill-ribbon {
  background-image: url('../img/pills-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
main .rx-refill-ribbon .color-overlay {
  padding-top: 5rem;
  padding-bottom: 4rem;
  background-color: rgba(78, 201, 224, 0.6);
}
main .rx-refill-ribbon.white {
  background: #fff;
}
main .rx-refill-ribbon.white .color-overlay {
  background: transparent;
}
main .team {
  background-image: url('../img/abstract-bg.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
main .team .section-header {
  margin-bottom: 8rem;
}
main .team .team-member {
  margin-bottom: 1rem;
  margin-top: 2rem;
  box-shadow: 0 0 15px rgba(216, 216, 216, 0.25);
  position: relative;
}
main .team .team-member .team-member-image {
  max-width: 100%;
}
main .team .team-member:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 600;
  background-image: url('../img/overlapped-border-top-left.svg'), url('../img/overlapped-border-bottom-right.svg');
  background-repeat: no-repeat;
  background-size: contain, contain;
  background-position: top left, bottom right;
}
main .team .team-member + p {
  font-size: 18px;
}
main .partners {
  background-image: url('../img/partnership.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
main .partners .color-overlay {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: rgba(78, 201, 224, 0.8);
}
main .partners .color-overlay .section-header {
  margin-bottom: 8rem;
}
main .partners .color-overlay .partner-image {
  max-width: 100%;
  display: block;
  margin: 1rem auto;
}
main .get-refill {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-image: url('../img/abstract-bg.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
main .get-refill .rx-refill-form form {
  margin-top: 3rem;
}
main .get-refill .rx-refill-form form .form-control {
  box-shadow: 0 0 20px 4px rgba(216, 216, 216, 0.25);
}
main .talk {
  background-image: url('../img/abstract-bg.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
main .talk .contact-grid {
  width: 100%;
  max-width: 300px;
  display: block;
  margin: 3rem auto;
  border: 2px solid #4ec9e0;
  border-radius: 6px;
  padding: 6rem;
  box-shadow: 0 0 20px 4px rgba(216, 216, 216, 0.25);
  cursor: pointer;
}
main .talk .contact-grid + p {
  font-size: 16px;
  font-weight: 300;
  color: #4b4b4b;
}
main .talk .contact-grid:hover + p {
  color: #4ec9e0;
}
footer {
  padding-top: 5rem;
  background-color: #0a1331;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}
footer .footer-header {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 38px;
}
footer .footer-logo {
  margin: 0 15px 15px 0;
}
footer .footer-logo-wordmark {
  display: inline-block;
  font-size: 26px;
  line-height: 65px;
  color: #666f75;
  margin-top: 0;
}
footer ul.footer-links {
  list-style: none;
  padding-left: 0;
}
footer ul.footer-links li {
  padding-left: 1rem;
  position: relative;
}
footer ul.footer-links li:before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 20px;
  position: absolute;
  top: 2px;
  left: -12px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
footer ul.footer-links li.address:before {
  background-image: url('../img/icons/icon-map-marker.svg');
}
footer ul.footer-links li.phone:before {
  background-image: url('../img/icons/icon-phone.svg');
}
footer ul.footer-links li.mail:before {
  background-image: url('../img/icons/icon-mail.svg');
}
footer ul.footer-links li.hours:before {
  background-image: url('../img/icons/icon-clock.svg');
}
footer ul.footer-links li + li {
  margin-top: 1.5rem;
}
footer ul.social-links li {
  display: inline-block;
}
footer ul.social-links li + li {
  margin-left: 1rem;
}
footer .copyright {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 6rem;
  background-color: #21273D;
}
footer .copyright p {
  margin-bottom: 0;
}
/*RESPONSIVE STYLE */
@media (max-width: 1024px) {
  main .our-pharmacy .pharmacy-left,
  main .our-pharmacy .pharmacy-right {
    padding: 8rem;
  }
  main .rx-refill .rx-refill-left,
  main .rx-refill .rx-refill-right {
    padding: 8rem;
  }
  main .research-one .research-left,
  main .research-two .research-left,
  main .research-one .research-right,
  main .research-two .research-right {
    padding: 8rem;
  }
  main .talk .contact-grid {
    padding: 4rem;
  }
}
@media (max-width: 768px) {
  header .navbar.white .navbar-header .logo a {
    font-size: 20px;
  }
  main .main-bg-wrapper {
    background-size: 130%, 200%, cover;
    background-position: center 0,center 103%,center 50%;
  }
  main .main-bg-wrapper .intro {
    min-height: 100vh;
  }
  main .main-bg-wrapper #background {
    height: 100%;
  }
  main .main-bg-wrapper.about .intro,
  main .main-bg-wrapper.contact .intro,
  main .main-bg-wrapper.refill .intro,
  main .main-bg-wrapper.research .intro {
    background-size: 130%, 200%, cover;
    background-position: center 0,center 102%,center 50%;
  }
  main .our-pharmacy .pharmacy-left,
  main .our-pharmacy .pharmacy-right {
    padding: 4rem 4rem 7rem;
  }
  main .rx-refill .rx-refill-left,
  main .rx-refill .rx-refill-right {
    padding: 3rem;
  }
  main .research-one .research-left,
  main .research-two .research-left,
  main .research-one .research-right,
  main .research-two .research-right {
    padding: 4rem 4rem 7rem;
  }
  main .story .story-highlighter {
    font-size: 65px;
  }
}
@media (max-width: 767px) {
  header .navbar .navbar-header .logo a {
    font-size: 20px;
    line-height: 60px;
  }
  header .navbar .navbar-header .logo a img {
    margin-bottom: 5px;
  }
  header .navbar-collapse ul.navbar-nav {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  header .navbar-collapse ul.navbar-nav li {
    text-align: center;
  }
  header .navbar.white .navbar-header .logo a {
    font-size: 26px;
  }
  main .main-bg-wrapper .intro .intro-texts .btn {
    width: 70%;
  }
  main .talk .contact-grid {
    max-width: 200px;
  }
}
@media (max-width: 680px) {
  main .main-bg-wrapper {
    background-size: 150%, 250%, cover;
  }
  main .main-bg-wrapper .intro {
    padding: 4rem 0 4rem;
  }
  main .main-bg-wrapper.research {
    background-position: 20% 0;
  }
  main .services .services-block-image {
    max-width: 100px;
  }
  main .our-pharmacy .pharmacy-left,
  main .our-pharmacy .pharmacy-right {
    min-height: 50rem;
  }
  main .rx-refill .rx-refill-left,
  main .rx-refill .rx-refill-right {
    min-height: 50rem;
  }
  main .get-refill .rx-refill-form form {
    padding: 0 2rem;
  }
  main .research-one .research-left,
  main .research-two .research-left,
  main .research-one .research-right,
  main .research-two .research-right {
    min-height: 50rem;
  }
  footer ul.footer-links {
    margin-left: 2rem;
  }
}
@media (max-width: 380px) {
  main .main-bg-wrapper .intro .intro-text-wrapper .intro-texts .page-heading {
    font-size: 35px;
  }
  main .main-bg-wrapper .intro .intro-text-wrapper .intro-texts .intro-paragraph {
    font-size: 18px;
    margin-bottom: 1.5rem;
  }
}
@media (max-width: 360px) {
  header .navbar.white .navbar-header .logo a {
    font-size: 20px;
  }
  main .main-bg-wrapper .intro .intro-text-wrapper .intro-texts .page-heading {
    font-size: 35px;
  }
  main .main-bg-wrapper .intro .intro-text-wrapper .intro-texts .intro-paragraph {
    font-size: 14px;
    margin-bottom: 1rem;
    line-height: 2rem;
  }
  main .main-bg-wrapper .intro .intro-text-wrapper .intro-texts .btn {
    font-size: 16px;
    margin: 0.5rem;
  }
}
@media (max-width: 340px) {
  main .rx-refill .rx-refill-left,
  main .rx-refill .rx-refill-right {
    padding: 1.5rem;
  }
  main .get-refill .rx-refill-form form {
    padding: 0;
  }
}
