<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="copyright">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <p> &copy; Copyright Kingsforth 2018</p>
                            <ul class="list-unstyled">
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="developer">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <p>Developed By <img src="assets/img/street-logo.png" alt="street-logo" class="dev-logo"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>