<div class="common-form">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2 class="secondary-header">Get Pre-Approved Now</h2>
                <p class="subheader">No SSN required. No impact on credit score</p>
                <div class="row">
                    <div class="col-xs-12">
                        <h3 class="tell-us">Tell Us About Yourself</h3>
                        <form action="#" class="row">
                            <div class="col-xs-12 col-md-6 col-md-offset-3">
                                <div class="row">
                                    <div class="form-group col-xs-6">
                                        <input type="text" class="form-control" name="name" placeholder="First and Last Name">
                                    </div>
                                    <div class="form-group col-xs-6">
                                        <input type="text" class="form-control" name="dateofbirth" placeholder="Date of Birth">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-xs-6">
                                        <input type="text" class="form-control" name="phone" placeholder="Phone">
                                    </div>
                                    <div class="form-group col-xs-6">
                                        <input type="email" class="form-control" name="email" placeholder="Email">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-xs-12">
                                        <input type="text" class="form-control" name="address" placeholder="Address">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-xs-6">
                                        <input type="text" class="form-control" name="rent" placeholder="Rent/Mortgage">
                                    </div>
                                    <div class="form-group col-xs-6">
                                        <input type="text" class="form-control" name="extra">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h3 class="tell-us">Tell Us About Your Job</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-xs-6">
                                        <input type="text" class="form-control" name="income" placeholder="Monthly Income">
                                    </div>
                                    <div class="form-group col-xs-6">
                                        <input type="text" class="form-control" name="duration" placeholder="How long have you worked there">
                                    </div>
                                </div>
                                <div class="row text-left">
                                    <div class="form-check col-xs-12">
                                        <input type="checkbox" name="agreed" value="" id="agreed"><label for="agreed"> I agree to the</label> <a href="#">Terms of Use</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-xs-12 submit">
                                        <button type="submit" class="btn">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
