<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <img src="assets/img/footer-logo.svg" alt="logo" class="footer-logo">
            </div>

            <div class="col-sm-6 col-xs-12">
                <div class="row">
                    <div class="col-xs-3">
                        <ul class="footer-links">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-5">
                        <ul class="footer-links">
                            <li><a href="#">How It Works</a></li>
                            <li><a href="#">Calculator</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-4">
                        <ul class="footer-links">
                            <li><a href="#">Our Policy</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>