/* Importing fonts */
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i';
@import 'https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i';
@import 'https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700,900';

/* Resetting */
* {
    margin: 0;
    padding: 0;
    transition: 0.5s;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-size: 200%;
}

p {
    font-size: 90%;    
}

.header_container {
    background: rgba(128,128,128, 0.7);
    font-size: 80%;
    text-align: right;
    padding: 5px;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    border-bottom: 1px solid #808080;
}

.header, .footer {
    width: 1000px;
    margin: 0 auto;
}

.header ul, .footer ul, .ribbon ul {
    list-style: none;
}

.header ul li, .footer ul li, .ribbon ul li {
    margin: -2px;
    font-weight: bold;
    display: inline;
    padding: 5px 10px;
    opacity: 0.7;
    cursor: pointer;
}

.header ul li:hover {
    opacity: 1;
    background: rgba(0,0,0,0.7);
    color: white;
}

.header ul li a {
    text-decoration: none;
    color: inherit;
}

#wrapper {
    width: 1000px;
    margin: 2% auto;
    padding: 0 2%;
    overflow: hidden;
}

#wrapper a {
    padding: 1px 5px;
    background: rgba(128,128,128, 0.3);
    border-radius: 3px;
    text-decoration: none;
    color: inherit;
}

#wrapper a:hover, #wrapper a:active {
    background: rgba(128,128,128, 0.5);
    text-decoration: none;
    color: inherit;
}

#wrapper a:visited {
    color: inherit;
}

.portfolio_dashboard {
    position: fixed;
    width: 80%;
    min-width: 1000px;
    min-height: 500px;
    height: 80vh;
    top: -200%;
    left: 10%;
    padding: 10px;
    background: rgba(0,0,0, 0.95);
    color: rgba(255,255,255,1);
    border-radius: 5px;
    transition: 1.50s;
    transform: translate(0);
    overflow: hidden;
    z-index: 5;
}

#hide_button, #up_button {
    background: url("../images/icons/up_arrow.svg");
    background-size: cover;
    height: 20px;
    width: 30px;
    float: right;
    cursor: pointer;
}

#up_button {
    height: 30px;
    width: 45px;
}

.portfolio_dashboard h2 {
    font-weight: 100;
    margin: 10px;
}

.ribbon {
    height: 40px;
    width: 80%;
    display: block;
    margin-left: 10px;
    overflow: hidden;
}

.ribbon ul li {
    padding: 10px 5%;
    line-height: 38px;
    opacity: 1;
    transition: 1s;
}

.ribbon ul li:hover {
    color: #000000;
    background: #FFFFFF;
}

#portfolio_showcase, #project_details {
    position: fixed; /* if parent has transform: translate; co-ordinates start from parents not window */
    width: 98%;
    height: auto;
    border-top: 1px solid;
    margin: 2% auto;
    padding: 2%;
    overflow: hidden;
    top: 100px; /* for illiterate browsers like chorme */
    /*top: 8vw;*/
    transition: 2s;
}

#project_details {
    top: 1200px; /* for illiterate browsers like chorme */
    /*top: 200vw;*/
}

#project_window, #project_summary {
    width: 340px;
    height: 340px;
    float: left;
    overflow: hidden;
}

#project_summary, #project_controls {
    width: 600px;
    height: 220px;
    margin-left: 30px;
    padding: 15px 10px;
    border-left: 1px dotted;
}

#project_controls {
    height: 120px;
}

.project_grid {
    position: relative;
    float: left;
    width: 160px;
    height: 160px;
    border: 1px solid;
    margin: 10px 15px;
    position: relative;
    text-align: center;
    cursor: pointer;
    border-radius: 100%;
    overflow: hidden;
    background-size: cover;
}

.project_grid:hover {
    box-shadow: 0 0 10px;
}

.project_grid h4 {
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0.8);
    line-height: 40px;
    width: 100%;
}

.project_grid:hover h4 {
    line-height: 80px;
}

#tictactoe {
    background-image: url("../projects/tictactoe/images/icon.png");
}

#puzzle {
    background-image: url("../projects/puzzle/images/icon.png");
}

#rsp {
    background-image: url("../projectindex/images/demo.svg");
}

#u_demo_1 {
    background-image: url("../projectindex/images/demo.svg");
}

#u_demo_2 {
    background-image: url("../projectindex/images/demo.svg");
}

#u_demo_3 {
    background-image: url("../projectindex/images/demo.svg");
}

#o_demo_1 {
    background-image: url("../projectindex/images/demo.svg");
}

#o_demo_2 {
    background-image: url("../projectindex/images/demo.svg");
}

.intro {
    width: 100%;
    display: block;
    overflow: hidden;
    padding: 2%;
    margin: 20px auto;
}

.intro p {
    font-size: 120%;
}

.profile_photo {
    height: 250px;
    width: 250px;
    box-shadow: 0 0 1px inset;
    margin: 0 20px 20px 0;
    border-radius: 100%;
    padding: 10px;
    float: left;   
}

.experience, .education, .employment, .achievement, .contribution {
    width: 50%;
    float: left;
    display: block;
    overflow: hidden;
    margin: 20px auto;
}

.h_line {
    height: 1px;
    width: 80%;
    background: #AFAEAA;
    float: left;
    margin: 10px 0;
}

.thumbnail {
    width: 30%;
    float: left;
}

.description {
    width: 70%;
    padding: 2% 0;
    float: right;
}

.description p {
    font-family: monospace;
}

.experience .description, .education .description, .employment .description,
.achievement .description, .contribution .description {
    width: 67%;
    padding-left: 2%;
    border-left: 1px dotted #808080;
}

.thumbnail_icon {
    height: 100px;
    width: 100px;
    box-shadow: 0 0 1px inset;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
}

.footer_container {
    background: rgba(45,45,45,1);
    color: rgba(255,255,255,1);
    display: block;
    padding: 1%;
    font-size: 70%;
}

.footer p {
    margin: 10px;
}

.footer ul li:hover {
    opacity: 1;
}

.social_icon {
    width: 30px;
    height: 30px;
    border-radius: 100%;    
}
