

#stack {
    box-shadow: 0 0 1px inset;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    display: inline-flex;
    align-items: flex-start;
}

.project-thumb {
    display: inline-block;
    position: relative;
    width: 120px;
    height: 120px;
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 2px 0 5px  rgba(0,0,0,0.5);
    background: rgba(255, 255, 255, 1);
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    background-size: cover;
    transition: 0.5s;
    padding: 5px;
}

.project-thumb img {
    width: 100%;
}


.project-preview {
    width: 35%;
}

.project-preview iframe {
    width: 100%;
    max-width: 350px;
    height: 350px;
}

.project-description {
    width: 65%;
}

.project-description iframe {
    width: 100%;
    max-width: 600px;
    height: 120px;
}

.project-description iframe:first-child {
    height: 220px;
}